.container {
  margin: 10px 0;
}

.input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
